# App settings
ENVIRONMENT=local
SECRET_KEY=yoursecretkey
ACCESS_TOKEN_EXPIRE_MINUTES=11520
ALGORITHM=HS256

# Postgres Database settings
POSTGRES_SERVER=a1-postgres1.alem.ai
POSTGRES_PORT=30100
POSTGRES_USER=aidyn
POSTGRES_PASSWORD=change_me
POSTGRES_DB=langflow_aidyn_arifalta01

# Milvus settings
MILVUS_SERVER=https://a1-milvus1.alem.ai
MILVUS_PORT=
MILVUS_USER=
MILVUS_PASSWORD=
MILVUS_DB=
MILVUS_COLLECTION=arifalta_dom_elements

# RAG Pipeline
RAG_API_URL=http://localhost:8001

# Alem AI Embeddings
ALEM_EMBEDDINGS_API_KEY=sk-xxxx
ALEM_EMBEDDINGS_BASE_URL=https://llm.alem.ai/v1
ALEM_EMBEDDINGS_MODEL=text-1024

# AI settings
KAZLLM_API_KEY=
SPEACH_TO_TEXT_KZ_API_KEY=
SPEACH_TO_TEXT_API_KEY=
DEEPSEEK_OCR_API_KEY=
QWEN3_API_KEY=sk-xxxx
QWEN3_BASE_URL=https://llm.alem.ai/v1

# LangFuse settings
LANGFUSE_SECRET_KEY=sk-lf-xxxx
LANGFUSE_PUBLIC_KEY=pk-lf-xxxx
LANGFUSE_BASE_URL=https://a1-langfuse1.alem.ai

STT_GENERIC_KEY=sk-xxxx
STT_KK_KEY=sk-xxxx