# App settings
ENVIRONMENT=local
SECRET_KEY=yoursecretkey
ACCESS_TOKEN_EXPIRE_MINUTES=11520
ALGORITHM=HS256

# Postgres Database settings
POSTGRES_SERVER=a1-postgres1.alem.ai
POSTGRES_PORT=30100
POSTGRES_USER=aidyn
POSTGRES_PASSWORD=change_me
POSTGRES_DB=langflow_aidyn_arifalta01

# Milvus settings
MILVUS_SERVER=https://a1-milvus1.alem.ai
MILVUS_PORT=
MILVUS_USER=
MILVUS_PASSWORD=
MILVUS_DB=

# AI settings
KAZLLM_API_KEY=sk-xxxx
SPEACH_TO_TEXT_KZ_API_KEY=
SPEACH_TO_TEXT_API_KEY=
DEEPSEEK_OCR_API_KEY=
QWEN3_API_KEY=

# LangFuse settings
LANGFUSE_SECRET_KEY=sk-lf-xxxx
LANGFUSE_PUBLIC_KEY=pk-lf-xxxx
LANGFUSE_BASE_URL=https://a1-langfuse1.alem.ai
